{% extends 'adminTemplate/base.html.twig' %}
{% import 'adminTemplate/macros.html.twig' as macros %}
{% set page_title %}Edit {{ imageSetting.entityName }} type{% endset %}

{% block breadcrumb %}
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="{{ path('dashboard') }}"><i class="icon-home2 position-left"></i>Dashboard</a></li>
            <li><a href="{{ path('imagesetting_index') }}">Image settings</a></li>
            <li class="active">Edit {{ imageSetting.entityName }}</li>
        </ul>
    </div>
{% endblock %}

{% block body %}
    {{ form_start(edit_form, {'attr':{'class':'form-validate-jquery','novalidate':'novalidate'}}) }}
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                {{ macros.input(edit_form.entityName,6,null,null,"form-control select-search") }}
                {{ macros.input(edit_form.backRoute,6,null,null,"form-control select-search") }}
            </div>
            <div class="row">
                {{ macros.input(edit_form.uploadPath,6,"Ex. dynamic-page/") }}
                {{ macros.input(edit_form.quality) }}
            </div>
            <div class="row">
                {{ macros.checkbox(edit_form.autoResize) }}
                {{ macros.checkbox(edit_form.gallery) }}
            </div>

        </div>
        <div class="panel-footer">
            {% include 'adminTemplate/saveAndResetFormFooter.html.twig' %}
        </div>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('admin/js/plugins/forms/validation/validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/pages/form_validation.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/forms/styling/switchery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/forms/selects/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/pages/form_select2.js') }}"></script>

{% endblock javascripts %}